.lk-prejoin .lk-video-container {
    border-radius: 3px;
}

.lk-prejoin .lk-button-group-container > .lk-button-group {
    color: #f8f8f8;
}

.lk-username-container > .lk-form-control{
    border:1px solid #f8f8f8;
    border-radius: 3px;
    outline: none;
    padding: 2px 5px;
    background: transparent;
    color: #f8f8f8;
}

.lk-username-container > .lk-join-button{
    border: 2px solid #f8f8f8;
    border-radius: 5px;
    font-weight: bold;
    color: #f8f8f8;
}